@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dongle:wght@300;400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-gray: #67666a;
    --color-gray-from: #f6f6f6;
    --breakpoint-xxs: 22.5rem; /* 360px */
    --breakpoint-xs: 26.25rem; /* 420px */
    --breakpoint-s: 34.375rem; /* 550px */
    /* 
        sm: 640px 
        md: 768px 
     */
    --breakpoint-l: 53.125rem; /* 850px */
    /* 
        lg: 1024px 
        xl: 1280px
        2xl: 1536px 
    */
    --font-caveat: 'Caveat', cursive;
}
* {
    @apply box-border;
}
* {
    outline: 1px solid red !important;
}

body {
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

/* RED BUTTON "Add to Get" and "Proceed to checkout */
.add-btn {
    position: absolute;
    right: 14px;
    bottom: 14px;

    width: 160px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(0, 74%, 42%);
    color: white;

    border-radius: 12px;
    cursor: pointer;

    border: none;
    transition: all 100ms ease;
    box-shadow: 0px 4px 0px #7f1d1d;
}

.add-btn:hover {
    background-color: hsl(0, 70%, 38%);
    transform: translateY(-2px);
    box-shadow: 0px 8px 0px hsl(0, 63%, 31%);
}
.add-btn:active {
    transform: translateY(6px);
    box-shadow: 0px 0px 0px #7f1d1d;
}

/* RED BUTTON "Add to Get" and "Proceed to checkout (this smaller) */
.add-btn2 {
    width: 150px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(0, 74%, 42%);
    color: white;

    border-radius: 12px;
    cursor: pointer;

    border: none;
    transition: all 100ms ease;
    box-shadow: 0px 2px 0px #7f1d1d;
}

.add-btn2:hover {
    background-color: hsl(0, 70%, 38%);
    transform: translateY(-1px);
    box-shadow: 0px 5px 0px hsl(0, 63%, 31%);
}
.add-btn2:active {
    transform: translateY(1px);
    box-shadow: 0px 0px 0px #7f1d1d;
}

.skeleton {
    height: 17.5rem;
    width: 17.5rem;

    position: absolute;
    z-index: 110;
    left: 2.5rem;
    top: -40px;

    background-color: white;
    border: 1px solid #414141;

    font-size: 2.75rem;
    line-height: 1;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: default;
}
