@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dongle:wght@300;400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  @apply box-border;
  
}

body{
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}
@theme{
  --color-gray: #67666A;
}
.add-btn {
  position: absolute;
  right: 8px;   
  bottom: 8px;

  width: 160px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #b91c1c; 
  color: white;

  border-radius: 12px;
  cursor: pointer;
  
  border: none;
  transition: all 100ms ease-in;
}

.add-btn:hover {
  background-color: #991b1b; 
  transform: translateY(-3px);
}
.add-btn:active{
  transform: translateY(3px);
}