@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dongle:wght@300;400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  @apply box-border;
  
}

body{
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}
@theme{
  --color-gray: #67666A;
}
/* RED BUTTON "Add to Get" */
.add-btn {
  position: absolute;
  right: 14px;   
  bottom: 14px;

  width: 160px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsl(0, 74%, 42%); 
  color: white;

  border-radius: 12px;
  cursor: pointer;
  
  border: none;
  transition: all 100ms ease;
  box-shadow: 0px 4px 0px #7f1d1d;
}

.add-btn:hover {
  background-color: hsl(0, 70%,38%); 
  transform: translateY(-2px);
  box-shadow: 0px 8px 0px hsl(0, 63%, 31%);
}
.add-btn:active{
  transform: translateY(6px);
  box-shadow: 0px 0px 0px #7f1d1d;
}