@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dongle:wght@300;400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  @apply box-border;
  
}

body{
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}